header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-width: 500px;
  height: 94px;
  padding: 0 20px;
  border-bottom: 1px solid #cecece;
  background-color: #fff;
}

body {
  height: 100vh;
  background-color: #e2e2e277;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 60px;

  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  padding: 36px 0px;
}

.curriculum-form {
  width: calc(100vw - 34%);
  border-radius: 35px;
}

.back-icon {
  cursor: pointer;
}

.page-title {
  margin-bottom: 25px;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.page-title h4 {
  margin-left: 10px;
}

.form-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 31px;
  padding: 0 20px;
}

.form-top-chapter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-top-chapter span {
  margin-left: 16px;
  color: #5c5c5c;
  font-weight: bold;
}

.btn-add-chapter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;

  border: none;
  background-color: #58a7fc7e;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-add-chapter:hover {
  transform: translate(1px, -1px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-add-chapter p {
  margin: 0px 0px 0px 5px;
}

/* 챕터 */

.chapter-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-add-chapter-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 90px);
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #c8c8c8;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-add-lesson-bottom p {
  margin-left: 5px;
}

.btn-add-chapter-bottom:hover {
  background-color: #58a7fc7e;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* 등록 버튼 */
.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 0 20px;
}

.btn-submit {
  width: 126px;
  height: 45px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #58a7fc7e;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-submit:hover {
  transform: translate(1px, -1px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.warning {
  color: red;
  opacity: 0;
  transition: all 0.2s;
}
