<div>
  <a class="card">
    <button class="card-menu">
      <i class="fa-solid fa-ellipsis-vertical"></i>
      <ul class="card-menu-options">
        <li class="menu-label btn-modify">
          <i class="fa-solid fa-pen"></i>
          수정
        </li>
        <li class="menu-separator"></li>
        <li class="menu-label btn-delete">
          <i class="fa-solid fa-trash"></i>
          삭제
        </li>
      </ul>
    </button>
    <img class="card-thumbnail" src="" alt="썸네일 이미지" />
    <div class="card-info">
      <span class="card-tags">
        <div class="tag-box">
          <span class="tag-text"></span>
        </div>
      </span>
      <div class="separator"></div>
      <div class="card-title"></div>
      <span class="card-author"></span>
    </div>
  </a>
</div>
