<div class="chapter-form">

  <div class="chapter-title">
    <h5>챕터 제목</h5>
    <input type="text" autocomplete="off" name="chapter-title-input" class="chapter-title-input"/>
    <span class="chapter-title-length">0 / 50</span>
  </div>
  <div class="chapter-lectures">
    <h5>강의 제목</h5>
    <div class="lectures">
      <div class="lecture-title">
        <input type="text" autocomplete="off" maxlength="40" name="lecture-title" placeholder="강의 제목을 입력하세요."/>
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <rect width="17" height="17" fill="url(#pattern0_71_2)"/>
        <defs>
        <pattern id="pattern0_71_2" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0_71_2" transform="scale(0.0416667)"/>
        </pattern>
        <image id="image0_71_2" width="24" height="24" preserveAspectRatio="none" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAArElEQVR4nO2UwQnCQBBFnxG1siC2YQfiSbzkaA+5RwRP2oKVaB0yMjCBYTUqya6C8cGQ5YfMg88S6AsFIMFs2i6TjvN9wW8gqeuRTwpqmpb9BT0RbIFTKsHanuNUAmXAPY+yVoIhUAErly2APTCKIciBq2VLG7EsjyFQ5k5SL9eskcub/54jMLFvdi7X81NmwPnF8oO7Ob4WX1cUpkEtvi5915kMKIPO9axZdgPAoc6oFXAkTQAAAABJRU5ErkJggg=="/>
        </defs>
        </svg>
      </div>
      
      <div class="btn-add-lecture">
        <p>강의 추가</p>
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect width="17" height="17" fill="url(#pattern0_20_70)"/>
          <defs>
            <pattern id="pattern0_20_70" patternContentUnits="objectBoundingBox" width="1" height="1">
              <use xlink:href="#image0_20_70" transform="scale(0.0416667)"/>
            </pattern>
            <image id="image0_20_70" width="24" height="24" preserveAspectRatio="none" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAANUlEQVR4nGNgGAVUBv+hmGbg/6gFhMD/UQtobsF/KuGBs2DoxwEh8H/UAkLg/6gFo4ABHQAAsEtDvdpF+4wAAAAASUVORK5CYII="/>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</div>
