  <div class="chapter-form">
    <div class="chapter-title">
      <div class="chapter-title-area">
        <h5 class="chapter-number"></h5>
        <div class="btn-chapter-delete">
          <i class="fa-solid fa-minus"></i>
          <p>챕터 삭제</p>
        </div>
      </div>
      <input
        type="text"
        autocomplete="off"
        name="chapter-title-input"
        class="chapter-title-input"
      />
      <span class="chapter-title-length"></span>
    </div>
    <div class="chapter-lessons">
      <div class="lesson-top-info">
        <h5>강의 목록</h5>
        <span class="lesson-length"></span>
      </div>
      <div class="lessons">
        </div>
        <div class="btn-add-lesson">
          <i class="fa-solid fa-plus"></i>
          <p>강의 추가</p>
        </div>
      </div>
    </div>
  </div>
