.chapter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-top: 1px solid #c8c8c8;
}

.chapter.visible .chapter-header {
  border-bottom: 1px solid #c8c8c8;
}

.chapter.visible .chapter-lessons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  padding: 20px 30px 20px 30px;

  cursor: pointer;
}

.chapter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 28px;
}

.chapter-header-title {
  font-size: 18px;
  font-weight: 500;
}

.btn-expand-lesson {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
  color: #c8c8c8;

  cursor: pointer;

  gap: 5px;
}

.btn-expand-lesson:hover {
  color: black;
}

.btn-expand-lesson svg {
  transition: all 0.3s;
}

.rotate {
  transform: rotate(180deg);
}

.chapter-lessons {
  display: none;
}
